@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .txt {
    @apply text-gray-700 dark:text-gray-300;
  }
}

.fade-in {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.fade-in-2 {
  animation: fadein 3s;
  animation-delay: 500ms;
  -moz-animation: fadein 3s; /* Firefox */
  -moz-animation-delay:500ms;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -webkit-animation-delay:500ms;
  -o-animation: fadein 3s; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
}

.fade-in-3 {
  animation: fadein 3s;
  animation-delay: 1s;
  -moz-animation: fadein 3s; /* Firefox */
  -moz-animation-delay:1s;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -webkit-animation-delay:1s;
  -o-animation: fadein 3s; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
}

.fade-in-4 {
  animation: fadein 3s;
  animation-delay: 1500ms;
  -moz-animation: fadein 3s; /* Firefox */
  -moz-animation-delay:1500ms;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -webkit-animation-delay:1500ms;
  -o-animation: fadein 3s; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
